@model List<JiujitsuGymApp.Dtos.UserDto>

<ul class="nav nav-tabs" id="adminTabs" role="tablist">
    <li class="nav-item">
        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab">Users</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="classes-tab" data-bs-toggle="tab" data-bs-target="#classes" type="button" role="tab">Classes</button>
    </li>
</ul>

<div class="tab-content border border-top-0 p-3" id="adminTabsContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel">
        @await Html.PartialAsync("_UsersTab", Model)
    </div>
    <div class="tab-pane fade" id="classes" role="tabpanel">
        <p>Classes management...</p>
    </div>
</div>