@model List<JiujitsuGymApp.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price ($)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a href="/Products/Details/@product.Id">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
