@model IEnumerable<JiujitsuGymApp.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<div class="container mt-4">
    <class-calendar
        week-start="@ViewBag.WeekStart"
        initial-classes='@Json.Serialize(ViewBag.InitialClasses)'>
    </class-calendar>
</div>